*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

h1{
    font-size:15px;
    z-index: 1;
}
.container{
    width:600px;
    height:auto;
    padding:20px;
}


.container p{
    font-weight:bold;
    text-align:center;
    line-height: 20px;
    background-image: url('milk-and-mocha-bear-hearts.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-background-clip: text;
    color:transparent;
}


  
  